body {
    margin: 0;  
    min-height: 100vh; 
    font-family: "Roboto";
    color: #0b3509;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .header, .footer {
    background-color: #56a054;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;
    flex-wrap: wrap;
  }

  .logo{
    align-self: center;
  }

  .name {
    font-family: "Alfa Slab One";
    font-size: xx-large;
    color: #eef6ee;
    text-decoration: none;
  }

  .nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .icon {
    height: 45px;  
    width: auto;
  }
  
  .button {
    background-color: #335e31;
    border-radius: 8px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 6px;
  }

  .text {
    padding: 18px 15px;
    align-self: center;
    line-height: 35px;
    font-weight: 100;
    font-size: 1.1rem;
    text-decoration: none;
    color: #eef6ee;
  }

  .heroHome {
    background-color: #eef6ee;
    padding: 40px 45px 0px;
    justify-content: center;
    text-align: center;
  }

  .hero {
    background-color: #eef6ee;
    padding: 40px 45px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-chat {
    background-color: #eef6ee;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
  }

  .hero-innerHome {
    max-width: 1000px;
    position: relative;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hero-inner {
    max-width: 1000px;
  }

  .homepic {
    width: 100%;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .h1 {
    font-family: "Alfa Slab One";
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 60px;
  }
  
  .welcomeText {
    text-align: center;
    font-size: 1.4em;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
  
  .button2 {
    background-color: #335e31;
    color: #eef6ee;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
  }

  .signInContainer {
    background-color: #56a054;
    padding: 40px 90px;
    border-radius: 30px;
  }

  .form {
    text-align: center;
    line-height: 35px;
  }

  .label {
    color: #0b3509;
    margin-right: 20px;
  }

  .formSignUp {
    text-align: right;
    line-height: 35px;
  }

  .signUpPic {
    width: 410px;
    height: auto;
  }

  .signUpContainer {
    background-color: #56a054;
    padding: 40px 60px;
    border-radius: 30px;
    width: 840px;
    height: 600px;
  }

  .requiredFields, .optionalFields {
    width: 840px;
    height: 300px;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center
  }

  .textbox {
    background-color: #eef6ee;
    border-style: hidden;
    border-radius: 5px;
    height: 1.25rem;
  }
  
  .caption {
    font-weight: bold;
    font-size: larger;
  }

  .optional {
    font-style: italic;
  }

  .chats {
    height: 100%;
    flex-grow: 1;
  }
  
  .opened {
    height: 100%;
    flex-grow: 2;
  }

  .user-chat {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .user-chat-current {
    background-color: #96c794;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .user-photo-chat {
    width: 80px;
  }
  
  .username-chat-text {
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .h1-chat {
    font-family: "Alfa Slab One";
    margin-left: 40px;
    text-align: left;
    font-size: 1.9rem;
    align-self: center;
    justify-self: center;
  }

  .chat-header, .chat-footer {
    background-color: #96c79461;
    padding: 20px 40px;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 40px;
  }
  
  .chat-header2 {
    padding: 20px 30px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .messages {
    padding: 30px 30px 60px;  
    min-height: 40vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  .other-message {
    background-color: #96c79461;
    padding: 15px 15px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    gap: 25px;
    align-content: center;
    align-items: center;
    align-self: flex-start;
    max-width: 350px;
  }
  
  .my-message {
    background-color: #96c794;
    padding: 15px 15px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    gap: 25px;
    align-content: center;
    align-items: center;
    max-width: 350px;
    align-self: flex-end;
  }

  .chatbox {
    width: 30rem;
    height: 2rem;
    padding: 0px 10px;
  }

  .send-photo-chat {
    width: 60px;
  }
