:root {
	--color-background: #ffffff;
	--color-background-accent: #f7fff7;
	--color-border-muted: #ededed;
	--color-text-red: #ff4141;
	--color-text-green: #16eb5d;
	--radius-size-border: 10px;
	--style-border: 1px var(--color-border-muted) solid;
}

.content {
	flex-grow: 1;
	background-color: #eef6ee;
	padding: 10;
	overflow: auto;
}

.content-box {
	margin: 10px;
	background-color: #f7fff7;
	padding: 30px;
}

.profile-bio {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.profile-bio-contents {
	padding-left: 10px;
	flex-grow: 1;
}

.profile-bio-contents-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.profile-bio-contents-rest {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}

.profile-bio-pic {
	width: 150px;
	padding: 10px;
}

.profile-add-meeting-form {
	display: flex;
	align-items: center;
	gap: 20px;
}

.profile-meeting-slots {
	/* overflow-x: scroll; */
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 5px;
}

.profile-meeting-slot {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	background-color: #96c794c3;
	border-radius: 8px;
	margin: 10px;
	min-width: 190px;
	max-width: 190px;
}

.profile-meeting-slot-el {
	margin-bottom: 8;
}

.profile-mini-image {
	height: 45px;
}

.review-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.star-button {
	border: none;
	font-size: 20px;
	background-color: rgb(248, 255, 246)
}

.search-form {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 20px;
	align-items: center;
	align-content: stretch;
	justify-content: space-between;
}

/***/

/* original */
body {
	margin: 0;
	min-height: 100vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #071f05;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.header,
.footer {
	background-color: #56a054;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;
	min-height: 80px;
	flex-wrap: wrap;
	line-height: 40px;
}

/***/

.logo {
	align-self: center;
}

.name {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: xx-large;
	color: #eef6ee;
	text-decoration: none;
}

.nav {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.icon {
	height: 45px;
	width: auto;
}

.text {
	padding: 18px 15px;
	align-self: center;
	line-height: 35px;
	font-weight: 100;
	font-size: 1.1rem;
	text-decoration: none;
	color: #eef6ee;
}

.heroHome {
	background-color: #eef6ee;
	padding: 0px 45px 60px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: start;
	align-content: flex-start;
}

.nav-button {
	border-radius: 8px;
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 6px;
}

.small {
	margin: 8px;
	font-size: 18;
	padding: 10px 15px;
}

.big {
	min-width: 120px;
	font-size: calc(10px + 0.75vw);
	padding: 16px 22px;
}

.button {
	background-color: #335e31;
	color: #eef6ee;
	border-radius: 8px;
	border-style: none;
	text-decoration: none;
	text-align: center;
}

.button:hover {
	background-color: #264424;
	transform: scale(1.1); 
	cursor: pointer;
}

.transparent:hover, .icon:hover  {
	cursor: pointer;
	filter: brightness(60%);
	transform: scale(1.1); 
}

.star-button:hover {
	transform: scale(1.1); 
	cursor: pointer;
}

.user-box:hover, .user-box-current:hover, .darken:hover {
	filter: brightness(93%);
}


.hero {
	/* background-color: #eef6ee; */
	border: var(--style-border);
	padding: 40px 45px 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-chat {
	background-color: #eef6ee;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.hero-inner {
	max-width: 1000px;
}

.homepic {
	width: 100%;
}

.h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: calc(20px + 4vw);
}

.welcomeText {
	text-align: center;
	font-size: calc(15px + 0.75vw);
	max-width: 800px;
	align-self: center;
}

.container {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.box-container {
	background-color: var(--color-background-accent);
	border: var(--style-border);
	border-radius: var(--radius-size-border);
}

.signInContainer {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	padding: 40px 90px;
	width: 300px;
}

.form {
	text-align: center;
	line-height: 35px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.label {
	color: #0b3509;
	margin-right: 20px;
}

.formSignUp {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.requiredFields,
.optionalFields {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.signUpPic {
	width: 100%;
	height: auto;
	grid-column-start: span 2;
}

.signUpContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, 400px);
	align-items: flex-start;
	justify-content: center;
	column-gap: 40px;
	padding: 40px 60px;
	width: 85%;
	height: auto;
	align-self: center;
}
* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textbox {
	background-color: #e2ede2;
	color: #0b3509;
	border-style: hidden;
	border-radius: 5px;
	height: 1.5rem;
	/* flex-shrink: 1; */
}

.caption {
	font-weight: bold;
	font-size: larger;
	text-align: center;
}

.opened {
	height: 100%;
	flex-grow: 2;
}

.user-box {
	background-color: #e2ede2;
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.user-box-current {
	background-color: #96c794;
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.user-photo-chat {
	width: 80px;
}

.username-chat-text {
	font-size: 1.3rem;
	font-weight: bolder;
}

.h1-bigger {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	font-size: 1.9rem;
	justify-self: left;
}

.chat-header,
.chat-footer {
	background-color: #96c79461;
	display: flex;
	align-content: center;
	align-items: center;
}

.chat-footer{
	padding: 20px 40px;
} 

.chat-header {
	grid-column-start: span 2;
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-items: stretch;
}

.chat-form {
	display: flex;
	align-content: center;
	align-items: center;
	gap: 40px;
}

.transparent {
	background-color: transparent;
	border: none;
}

.current-chat {
	display: flex;
	align-items: center;
	gap: 40px;
	background-color: #96c79461;
	align-self: stretch;
	padding: 20px 40px;
}

.messages {
	padding: 30px 30px 60px;
	min-height: 40vh;
	display: flex;
	gap: 30px;
	flex-direction: column;
}

.other-message {
	background-color: #96c79461;
	padding: 15px 15px;
	text-align: center;
	border-radius: 15px;
	display: flex;
	gap: 25px;
	align-content: center;
	align-items: center;
	align-self: flex-start;
	max-width: 350px;
}

.my-message {
	background-color: #96c794;
	padding: 15px 15px;
	text-align: center;
	border-radius: 15px;
	display: flex;
	gap: 25px;
	align-content: center;
	align-items: center;
	max-width: 350px;
	align-self: flex-end;
}

.chatbox {
	width: 30rem;
	height: 2rem;
	padding: 0px 10px;
}

.photo-button {
	width: 50px;
}

.multipleline {
	max-width: 400px;
	min-width: 400px;
	max-height: 15rem;
	height: 5rem;
	min-height: 1.5rem;
	overflow: auto;
}

.signup-header {
	grid-column-start: span 2;
	justify-self: stretch;
}

.block {
	max-height: 512px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: scroll;
}

.validation-box {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

/*.textbox:valid {
	border-color: green;
	border-style: solid;
	border-width: 1.5px;
}


.textbox:invalid {
	border-color: darkred;
	border-style: solid;
	border-width: 1.5px;
}*/

.date {
	max-width: 280px;
}

.inline {
	display: inline;
}

.validation-error {
	visibility: hidden;
}

.tracking-box {
	visibility: hidden;
	border: 2px solid var(--color-border-muted);
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
	background-color: lightgray;
}

.validation-error-invalid {
	color:var(--color-text-red);
}

.validation-error-valid {
	color:var(--color-text-green);
}